<%= render partial: 'page_heading', locals: {
  title: "Create a new series" } %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: 'form', locals: { series: @series } %>
    </div>
  </div>
</div>
