<%= render partial: 'page_heading', locals: {
  title: "Authoring" } %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2> Listing categories - <small>
      <%= link_to "Create new category", new_authoring_category_path %>
        </small>
      </h2>
      <table class="table">
        <tr>
          <th></th>
          <th>name</th>
        </tr>
        <%= render partial: 'category_row',
                   collection: @categories %>
      </table>
    </div>
  </div>
</div>
