<div class="private-session card">
  <div class="name"><%= private_session_card.student.name %></div>
  <div class="ocurred-at"><%= private_session_card.ocurred_at_hour %></div>
  <div class="notes"><%= private_session_card.notes %></div>
</div>
