<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Private Sessions</h1>
<%= render partial: 'private_session_card',
           collection: @private_sessions %>
    </div>
  </div>
</div>
