<div id="faq" name="faq" class="section">
<div class="container">
  <div class="row">
    <h2>Questions from people just like you!</h2>
    <div class="col-md-12">
      <p>Since we opened the doors in January of 2015 we have gotten a few questions via online chat and in email. We have compiled the greatest hits list, so to speak, and hopefully it will help answer any additional questions you may have. See you soon!</p>

      <h2>What is your "Enrollment to Hire" Guarantee all about?</h2>

      <p>We maintain relationships with many non and for profit companies as part of two programs here at Devschool. One is to get you that first job when you graduate with one of our partners, and the other is to get you in front of them even before you graduate. That is one of the reasons our curriculum includes 120 hours of NGO service where you pair on real projects helping real people!</p>

      <h2>Why is your school so much cheaper than the "big" Bootcamps</h2>
      <p>The biggest of these bootcamps require a physical location and large faculty to get anything done. Additionally, they require giant marketing budgets to get the word out. And of course, that physical location needs to be trendy, nice, and comfortable for all the staff to work. As you can imagine, this increases their cost to operate, and that cost is passed on to you, the student.</p> 

      <h2>Why is your school also cheaper than the other online Bootcamps?</h2>

      <p>Devschool was founded by an award winning, life-long professional web developer (Employee #1 Jim OKelly) who knows over a dozen programming languages, and twice as many systems. Devschool is a web development school BY programmers and web developers FOR programmers and web developers.</p>

      <p>There are no managers here and we require that everyone working at Devschool must directly enhance the experience of the students. Since we do not have the overhead of a large staff, we can pass those savings directly to you!</p>

      <h2>Do you have ANY staff or is it just one digital cowboy raising hell?</h2>

      <p>We do! Let me introduce you to Mae Watson, employee #2 and an awesome advocate for the Students! She's who you go to if you need any sort of conflict resolution or feedback about your experience in the course. You can think of her as HR for the students.</p>

      <p>Our Founder takes school Culture, student Happiness, and instructor Accountability seriously, which is why the second person to join the DevSchool team has extensive experience in Human Resource.</p>

      <h2>How does the billing work?</h2>

      <p>Our enrollment form is processed through Stripe, meaning we do not store any of your credit card information on any of our servers. Instead, it's all handled by our payment processing partner, Stripe.</p>

      <p>If you choose to pay your enrollment up front, you'll save a little over a $1000 off your total enrollment price; however, you can elect to make 5 payments instead, and Stripe will auto-bill you each month for your payment until you have no balance. The payments happen on the same day each month. The actual pricing can be found on the homepage, <a href="https://onlinedevschool.com/#curriculum" rel="nofollow">here</a></p>

      <h2>How many students are there in a class?</h2>

      <p>We don't use the cohort system here. We are not trying to replicate high school or college with courses like programmer empathy and other social filler-topics that have little to do with programming. You can do that sort of stuff at a community college, a place where you can't learn to be a highly trained web developer. So, we feel it's a fair trade.</p>

      <p>There are no classrooms, and your study is a mix of self-study, mentor/student sessions, and pair programming with another student.</p>

      <h2>What is "Pair Programming"</h2>

      <p>Pair programming is the practice of having more than one person work on the same computer doing the same tasks, kind of like a pilot and a navigator. Much of the time this will be your instructor, however as part of your study at the online Devschool you must complete a certain number of pair programming hours with other students.</p>

      <h2>Do I need a web cam to attend?</h2>

      <p>No. Video is not required at all. Audio-only is perfectly fine and generally preferable to acheive maximum focus. Audio also ensures there is bandwidth for more important task.</p>
    </div>
  </div>
</div>
</div>
</div>
