<div id="reviews" name="reviews" class="section">
  <div class="container white"> 
    <div class="row">
      <h2>REVIEWS - What do former students think of us?</h2>
      <div class="col-md-12">
        <img src="<%= asset_path('reviewers/jorge.jpg') %>" class="review-image-lg" align="left">
        <div class="review-name-lg">Jorge Madrid - Bogotá Columbia</div>
        <p class="review-text">My Devschool instructor, Jim is the best programming teacher I have had. He is fun, easy going, and when things get hard he doesn't mind repeating a concept until you get the point, and I learned a lot from him that my bootcamp missed.</p>
        <p class="review-text">Devschool not only helped me learn the skills I would need day to day, Jim also helped me prepare for the interview! I highly recommend Devschool!</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-12">
        <img src="<%= asset_path('reviewers/eric.jpg') %>" class="review-image-lg" align="right">
        <div class="review-name-lg">Eric Douglas - Ohio USA</div>
        <p class="review-text">Coming from a business background, I found programming intriguing but sometimes very confusing. My instructor excelled at simplifying concepts into easy to repeat axioms and patterns.</p>
        <p class="review-text">I found the education style at Devschool to be a very personal experience. It included pair programming and an audio chat. I would definitely recommend Devschool to anyone who wants to become a web developer.</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-12">
        <img src="<%= asset_path('reviewers/holden.jpg') %>" class="review-image-lg" align="left">
        <div class="review-name-lg">Meghan Miller - NYC USA</div>
        <p class="review-text">At Devschool I learned the skills that I needed to land the job I have today. I completed my Web Development course in 18 weeks as I had other obligations and Devschool was flexible enough for me to handle both!</p>
        <p class="review-text">I would recommend the Web Developers course at Devschool to anyone who wants to cut through the cruft and really, really learn the skills they will need to build modern web applications.</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <div class="row dark">
    <div class="container masonry">
      <div class="review-callout">
        <div class="arrow_box">
          <p>My time at Devschool was very helpful! My mentor and I could walk through the problem and find the best solution reducing the impact on my current code!</p>
          <p>Jim covered an amazing amount of material and he was always available when I needed his help and advice.</p>
        </div>
        <div class="review-callout-name">João Daniel</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>My instructor at Devschool, Jim, was very quick and knowledgeable.</p>
          <p>He offered good advice on how to structure my code, and helped me understand how to make web pages load fast using tricks of the trade. My focus was on Ruby on Rails and I found Jim to be an absolute expert on the topic!</p>
        </div>
        <div class="review-callout-name">Stefano Schiavi</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>I needed to create a back-end API for my HTML/JavaScript application. At Devschool I learned the skills I needed to create a Ruby back-end and to tie it to my app using Javascript and AJAX.</p>
          <p>I also finally can make sense of CSS and can make my HTML elements styled the way I want them styled.</p>
        </div>
        <div class="review-callout-name">Suresh Kumar R</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>My instructor helped me solve a Linux problem that had been plaguing me for weeks! I have attended Bloc and Dev Bootcamp and I could never find a mentor who knew anything about Linux.</p>
          <p>It was pretty awesome to find out not only did my Devschool instructor know all about Linux, he wasn't interested in getting me to switch to a Mac when Linux works just fine for web development. Cheers Jim!</p>
        </div>
        <div class="review-callout-name">Spencer Ryan</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>Always excellent advice from Devschool! Very detailed explanations every step of the way. My instructor, Jim also gave me much better 'homework' than I received on the HARTL tutorial.</p>
          <p>It felt less like I was checking off boxes and more like I was actually learning something for a change. I would recommend Devschool to anyone interested in becoming a developer.</p>
        </div>
        <div class="review-callout-name">Neil Patel</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>Jim OKelly really knew his stuff! He gave quality explanations, handled my problems efficiently and is aware of the service I was paying for.</p>
          <p>I strongly recommend him as a mentor and Devschool in general as a place to get your technology education on. I went in feeling stupid and I came out feeling confident!</p>
        </div>
        <div class="review-callout-name">Warren Kushner</div>
      </div>
    </div>
  </div>
</div>
