<div id="yourinstructor" name="yourinstructor" class="section">
  <div class="container">
    <div class="row">
      <h2>Meet your <i>Expert</i> Instructor</h2>
      <div class="col-md-12">
        <%= image_tag asset_path("jim-avatar.png"), align: :left, alt: "Jim OKelly, expert web developer", style: "margin-right: 2em;" %>

        <p>Jim OKelly has been building web applications as long as the web has existed in the form we know it. Skipping college, he threw himself straight into programming, first working at several .coms in the late '90s, and then moving to Portland where he started a 3 year tenure at Intel.</p>

        <p>After a decade doing Microsoft related technologies during the day at work for various companies, and doing Linux, C, and perl hacking in all of his personal time he knew it was time to do the same kind of development during the day as he did for fun at night.</p>
        <p>Jim switched to Ruby in 2007 and never looked back. He left his job at SMS.ac where he was a Sr. .Net Developer and MS SQL Server data monkey, and started looking for consulting work using Ruby. This line of work led him to work for companies like Callaway Golf, Oakley, UpperDeck Sports, Geico, and many, many more.</p>

        <p>He traveled the world for the next 6 years, working with developers who were employed at companies like ThoughtWorks, PivotalLabs, and Hashrocket and expert Rubyists around the world. He studied under the bright shining lights of developers like Jim Weirich, Gary Bernhardt, Uncle Bob Martin, and Corey Haines.</p>

        <p>During this time he spent 2 years at a Germany based education company developing learning software built to increase memory traction through the use of real-world situations, repetition and usage.</p>

        <p>Jim used this background and these learned skills and techniques to become the #1 Ruby on Rails mentor on the <a href="https://www.codementor.io/onlinedevschool#/review" rel="nofollow" target="_blank">Codementor.io</a> website. After 2 and a half years of pulling duty there he founded our school, Devschool, and has served as our Principle Instructor, course designer, development slave, and team cheerleader/fool.</p>

        <p>Jim OKelly is the model for any future Instructors we may hire, "No bullshit"&trade; expert developers who have put the time in to learn and then hone their craft in the real world.</p>

        <p>At Devschool you will NOT be taught by an old student, unlike the major bootcamps. That kind of nonsense doesn't fly here.

      </div>
    </div>
  </div>
</div>
