<%- content_for(:title) do %>
ODS - Learn to code, change your life - onlinedevschool.com
<%- end %>
<div id="home" name="home" class="section">
  <header class="clearfix">
    <div class="well">
      <h1>No College Degree Required</h1>
      <h2>Welcome to your new life as a Web Developer</h2>
      <p>In as little as 12 weeks you could get a job for as much as $50,000 a year! </p>
      <h4>Check out this <strong>article</strong> from 
        the <span class="article_source">New York Times</span>
        - <a class="article_link" href="http://www.nytimes.com/2015/07/29/technology/code-academy-as-career-game-changer.html"
                                  target="_blank">As Tech Booms, Workers Turn to Coding for Career Change</a></h4>
    </div>
  </header>
</div>

<div id="curriculum" name="curriculum" class="section">
  <div class="container white">
    <div class="row">
      <div class="page-header">
        <h2>Full Stack Web Developer <small>(HTML5/CSS &amp; Javascript &amp; Ruby on Rails)</small></h2>
      </div>

      <h3>Complete in only 12-36 weeks depending on your pacing</h3>
      <h4><%= render 'enrollments/pricing' %></h4>
      <p>In this track you will learn the languages the web is 
         written in and in doing so, build several applications using a
         a mix of modern web development technologies.</p>

      <p>In Today's world, there is little division between the fron-end
         and the back-end. The database is an important key piece of
         building software, but unless it is responsive, meaning it
         scales well on different screensizes, no one will use it.</p>

      <p>The world of web application development is heading hard
         towards Javascript as a one-all solution, so our course is heavy
         on the Javascript.</p>

      <p>That being said, there is nothing quite like Ruby for it's power
         and simplicity for use in Object Oriented Programming, so we still
         teach an excellent Ruby and Rails foundation as well.

      <p><strong>Click a technology</strong> to learn more about it:</p>

      <div class="technologies">
        <a href="#" data-featherlight="#lbGit"><img src="<%= asset_path('technologies/git.png') %>"></a>
        <a href="#" data-featherlight="#lbHtml"><img src="<%= asset_path('technologies/html.png') %>"></a>
        <a href="#" data-featherlight="#lbCss"><img src="<%= asset_path('technologies/css.png') %>"></a>
        <a href="#" data-featherlight="#lbJs"><img src="<%= asset_path('technologies/javascript.png') %>"></a>
        <a href="#" data-featherlight="#lbRuby"><img src="<%= asset_path('technologies/ruby.png') %>"></a>
        <a href="#" data-featherlight="#lbRails"><img src="<%= asset_path('technologies/rails.png') %>"></a>
        <a href="#" data-featherlight="#lbPostgres"><img src="<%= asset_path('technologies/postgres.png') %>"></a>
      </div>

    </div>
  </div>
</div>

<div id="howitworks" name="howitworks" class="section">
  <div class="container">
    <div class="row">
      <h2>How it works</h2>
      <div class="col-md-12">
        <h3>Move at your own pace, in your own home</h3>
        <table class="pace-options-table">
          <tr>
            <th colspan=4>Pacing options</th>
          </tr>
          <tbody>
            <tr class="pace-option">
              <td class="pace-option-pace">Agressive pace</td>
              <td class="pace-option-weeks">12 weeks</td>
              <td class="pace-option-hours">35 hours/wk</td>
              <td class="pace-option-1on1s">3 private sessions/wk</td>
            </tr>
            <tr class="pace-option">
              <td class="pace-option-pace">Moderate pace</td>
              <td class="pace-option-weeks">18 weeks</td>
              <td class="pace-option-hours">22 hours/wk</td>
              <td class="pace-option-1on1s">2 private sessions/wk</td>
            </tr>
            <tr class="pace-option">
              <td class="pace-option-pace">Relaxed pace</td>
              <td class="pace-option-weeks">36 weeks</td>
              <td class="pace-option-hours">12 hours/wk</td>
              <td class="pace-option-1on1s">1 private session/wk</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10">
        <p>&nbsp;</p>
        <ul class="pull-right checks">
          <li>Master powerful tools like bash and vim</li>
          <li>Get comfortable with the unix shell</li>
          <li>Learn to automate tasks and scrape data</li>
          <li>Get the the edge you need to get the job</li>
        </ul>

        <ul class="checks">
          <li>Access you instructor 4 days a week!</li>
          <li>Attend Weekly private lessons</li>
          <li>Attend Weekly group session</li>
          <li>Pair program with other students</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Online collaboration is simple</h2>
        <img class="img-responsive" src="<%= asset_path('collaboration.png') %>" class="collaboration-img"/>
      </div>
    </div>

    <h2>Courseware provided by our friends at CodeSchool</h2>
    <div class="row">
      <div class="col-md-3"><img src="<%= asset_path('codeschool/git-pt-1.png') %>"    class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/html-pt-1.png') %>"   class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/css-pt-1.png') %>"    class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/rails-pt-1.png') %>"  class="img-responsive courseware-img"/></div>
    </div>
    <div class="row">
      <div class="col-md-3"><img src="<%= asset_path('codeschool/js-pt-1.png') %>"     class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/sql-pt-1.png') %>"    class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/html-email.png') %>"  class="img-responsive courseware-img"/></div>
      <div class="col-md-3"><img src="<%= asset_path('codeschool/jquery-pt-1.png') %>" class="img-responsive courseware-img"/></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Use the computer you already have</h2>
        <img class="img-responsive" src="<%= asset_path('ossupport.png') %>" />
      </div>
    </div>
  </div>
</div>

<div id="reviews" name="reviews" class="section">
  <div class="container white"> 
    <div class="row">
      <h2>What do former students think of us?</h2>
      <div class="col-md-12">
        <img src="<%= asset_path('reviewers/jorge.jpg') %>" class="review-image-lg" align="left">
        <div class="review-name-lg">Jorge Madrid - Bogotá Columbia</div>
        <p class="review-text">My ODS instructor, Jim is the best programming teacher I have had. He is fun, easy going, and when things get hard he doesn't mind repeating a concept until you get the point, and I learned a lot from him that my bootcamp missed.</p>
        <p class="review-text">ODS not only helped me learn the skills I would need day to day, Jim also helped me prepare for the interview! I highly recommend ODS!</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-12">
        <img src="<%= asset_path('reviewers/eric.jpg') %>" class="review-image-lg" align="right">
        <div class="review-name-lg">Eric Douglas - Ohio USA</div>
        <p class="review-text">Coming from a business background, I found programming intriguing but sometimes very confusing. My instructor excelled at simplifying concepts into easy to repeat axioms and patterns.</p>
        <p class="review-text">I found the education style at ODS to be a very personal experience. It included pair programming and an audio chat. I would definitely recommend ODS to anyone who wants to become a web developer.</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-12">
        <img src="<%= asset_path('reviewers/holden.jpg') %>" class="review-image-lg" align="left">
        <div class="review-name-lg">Meghan Miller - NYC USA</div>
        <p class="review-text">At ODS I learned the skills that I needed to land the job I have today. I completed my Web Development Apprenticeship course in 18 weeks as I had other obligations and ODS was flexible enough for me to handle both!</p>
        <p class="review-text">I would recommend the Web Developers course at ODS to anyone who wants to cut through the cruft and really, really learn the skills they will need to build modern web applications.</p>
      </div> <!-- end col-md-6 -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <div class="row dark">
    <div class="container masonry">
      <div class="review-callout">
        <div class="arrow_box">
          <p>My time at ODS was very helpful! My mentor and I could walk through the problem and find the best solution reducing the impact on my current code!</p>
          <p>My apprenticeship with Jim covered an amazing amount of material and he was always available when I needed his help and advice.</p>
        </div>
        <div class="review-callout-name">João Daniel</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>My instructor at ODS, Jim, was very quick and knowledgeable.</p>
          <p>He offered good advice on how to structure my code, and helped me understand how to make web pages load fast using tricks of the trade. My focus was on Ruby on Rails and I found Jim to be an absolute expert on the topic!</p>
        </div>
        <div class="review-callout-name">Stefano Schiavi</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>I needed to create a back-end API for my HTML/Javascript application. At ODS I learned the skills I needed to create a Ruby backend and to tie it to my app using Javascript and AJAX.</p>
          <p>I also finally can make sense of CSS and can make my HTML elements styled the way I want them styled.</p>
        </div>
        <div class="review-callout-name">Suresh Kumar R</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>My instructor helped me solve a linux problem that had been plaguing me for weeks! I have attended Bloc and Dev Bootcamp and I could never find a mentor who knew anything about Linux.</p>
          <p>It was pretty awesome to find out not only did my ODS instructor know all about Linux, he wasn't interested in getting me to switch to a Mac when Linux works just fine for web development. Cheers Jim!</p>
        </div>
        <div class="review-callout-name">Spencer Ryan</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>Always excellent advice from ODS! Very detailed explanations every step of the way. My instructor, Jim also gave me much better 'homework' than I received on the HARTL tutorial.</p>
          <p>It felt less like I was checking off boxes and more like I was actually learning something for a change. I would recommend ODS to anyone interested in becoming a developer.</p>
        </div>
        <div class="review-callout-name">Neil Patel</div>
      </div>
      <div class="review-callout">
        <div class="arrow_box">
          <p>Jim OKelly really knew his stuff! He gave quality explanations, handled my problems efficiently and is aware of the service I was paying for.</p>
          <p>I strongly recommend him as a mentor and ODS in general as a place to get your technolody education on. I went in feeling stupid and I came out feeling confident!</p>
        </div>
        <div class="review-callout-name">Warren Kushner</div>
      </div>
    </div>
  </div>
</div>

<div id="enroll" name="enroll" class="section padded">
  <div class="container">
    <div class="row">
      <div class="page-header text-center">
        <h2>Enroll today - change your life forever!</h2>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= render 'enrollments/form' %>
      </div>
    </div>
  </div>
</div>

<div id="lbGit" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/git.png') %>">
  <p><strong>Git</strong> is a tool used by developers to manage their projects in a 
  <strong>safe manner</strong> and it provides an important mechanism
  to <strong>backup code</strong> and <strong>retrieve lost work</strong>.</p>
  <p>It also allows <strong>multiple developers</strong> to work together on the same files at
  the same time <strong>without interfering</strong> with each other's work. You can even
  <strong>work offline</strong> and update when you get
  a connection.</p>
  <p>Since <strong>Git</strong> is a "cornerstone" tool, we start off teaching
  it right away, along with the <strong><a href="#" data-featherlight="#lbUnix">
      UNIX Terminal</a></strong> and <strong><a href="#" data-featherlight="#lbVim">
      Vim</a></strong>.</p>
</div>

<div id="lbHtml" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/html.png') %>">
  <p><strong>HTML</strong> is the backbone of the Interwebs. It is the <strong>structure and
    content</strong> element. You are right now reading words wrapped in <strong>
    HTML</strong>.</p>
  <p><strong>HTML5</strong> makes huge strides in adding functionality to the webs like
  <strong>native video and audio</strong> without the use of Flash. There is even
  a spec to handle video conferencing called WebRTC!</p>
</div>

<div id="lbCss" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/css.png') %>">
  <p>If HTML is the backbone of the interwebs, than <strong>CSS</strong> is the
  clothes, hair, and possibly make-up, if you are into that.</p>
  <p>But <strong>CSS</strong> is more than just the color and typeface. It is also
  responsible for <strong>responsive design</strong> and element positioning in
  general. It is an invaluable skill when <strong>selling yourself</strong>
  as a new Web Developer.</p>
</div>

<div id="lbJs" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/javascript.png') %>">
  <p><strong>Javascript</strong> is THE language of the Internet. It is the <strong>
    only</strong> scripting language native to all browsers. If you want your app
  to something more than just sit there and look pretty you need <strong>Javascript
  </strong> to get a job today in Web Development.</p>
  <p>The <strong>number one skill today</strong> if you want a job in programming is
  <strong>Javascript</strong>. More than <strong>Ruby</strong>, more than <strong>
    Rails</strong>, and more than <strong>PHP</strong>.</p>
  <p>Along with interaction, <strong>Javascript</strong> provides mechanisms to
  request data from another location on the Internet. You can use it to parse
  <strong>NASA, NASCAR, and NASDAQ</strong> data.</p>
</div>

<div id="lbRuby" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/ruby.png') %>">
  <p>Ruby is a <strong>server-side language</strong> and it is used to work
  with databases and write complex software in a <strong>friendly, readable
  </strong> manner.</p>
  <p>In fact, <strong>Ruby</strong> is a programming language <strong>designed</strong>
  for <strong>optimizing developer joy!</strong> It is easy to pick up and is
  powerful enough to take years to master.</p>
  <p>At ODS we offer <strong>advanced courses</strong> in Ruby and 
  <strong>Ruby on Rails</strong> as well!</p>
</div>

<div id="lbUnix" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/terminal.png') %>">
  <p>The main underpinning of all web software is the network protocols that lie
     underneath. These are all based on standards set by UNIX. UNIX also comes
     with an amazing "bag of tricks", little, powerful programs that can be
     "chained" together to create amazing functionality.</p>
</div>

<div id="lbVim" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/vim.png') %>">
  <p>Vim is an amazing way to edit text of all kinds, from books, to software code. It
  is a highly adaptable <strong><a href="#" data-featherlight="#lbUnix">
  UNIX Terminal</a></strong> program that can be run locally, or even over
  a network.</p>
</div>

<div id="lbRails" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/rails.png') %>">
  <p>Ruby on Rails was a game-changer. It allows web applications to be built 
  much faster and with a more reliable common interface. It was built on the power
  and ellegance of <a href="#" data-featherlight="#lbRuby"><img src="<%= asset_path('technologies/ruby.png') %>"></a></p>
</div>

<div id="lbPostgres" class="feather">
  <img align="left" width="200px" src="<%= asset_path('technologies/postgres.png') %>">
  <p>Postgres is the industry gold standard SQL engine. SQL means <em>S</em>tructured
     <em>Q</em>uery <em>L</em>anguage, or more simply, a way to search and return
     data stored in a Relational Database.</p>
</div>

<!-- <%= asset_path("brand_sm.png") %> -->
