<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Create", new_authoring_post_path %>
      <table class="author-post-list">
        <tr>
          <th></th>
          <th></th>
        </tr>
        <%= render partial: 'post_row',
                   collection: @posts %>
      </table>
    </div>
  </div>
</div>
