<%- content_for(:title) do %>
  Affiliate Marketing opportunities with GREAT margins! Help spread the ODS word.
<%- end %>
<div id="affiliates" class="first-section section">
  <div class="container">
    <div class="row white">
      <div class="col-md-9 col-md-offset-1 ">
        <h1>Want to make $600 per referral?</h1>
        <p>Awesome, because we pay you $600 for every new
        paying student you send our way. You can do this
        via your blog, newspaper, email list, whatever,
        as long as you don't spam.</p>
        <p>For more information on how to qualify, send an
        email to <a href="mailto:makemesomemoney+affiliates-page@onlinedevschool.com">
          makemesomemoney@onlinedevschool.com</a> and tell
        us a little about you and how you would like to 
        promote and sell our product(s).</p>
        <p>If we like what we hear, you will be emailed
        a welcome letter with an affiliate id. Our website
        implements extensive tracking abilities and we can
        not only get you paid, but send you monthly
        emails with your stats.</p>
        <p>If we don't select you we will still email you
        back! Most likely it will be to get more information
        or to ask you to make some small change so we
        can work together!</p>
      </div>
    </div>
  </div>
</div>
