<%- content_for(:title) do %>
  Affiliate Marketing opportunities with GREAT margins! Help spread the ODS word.
<%- end %>
<div id="affiliates" class="first-section section">
  <div class="container">
    <div class="row white">
      <div class="col-md-9 col-md-offset-1 ">
        <h1>Want to make $600 per referral?</h1>
        <p>Awesome, because that happens to be
        what we will pay for enrollments who you
        refer our way!.</p>
        
      </div>
    </div>
  </div>
</div>
