<%- content_for(:title) do %>
  The devschool story - learn to makethe future of the web and change your life!
<%- end %>
<div id="our_story" class="first-section section">
  <div class="container">
    <div class="row white">
      <div class="col-md-9 col-md-offset-1 ">
        <h1>we care about technology education</h1>
        <p>Jim OKelly founded devschool in January 2015 with
          the single goal of providing an affordable
          path to becoming a web developer or programmer
          and to train developers like the clever people
          they are, teaching them hacker worthy techniques
          and tools that will give them the <em>edge</em>
          in that job interview!</p>
        <h3>In his own words</h3>
        <blockquote>
          <p>After a little under 2 years of being a highly
          popular Ruby and Rails Mentor on codementor I had quite
          a laundry list of things my students where unhappy with
          in their bootcamp experience.</p>
          <p>When I decided it was time to found devschool I knew
          I didn't want to make the same mistakes, so I designed
          the program around those failures, addressing problems
          with workable solutions.</p>
        </blockquote>

        <h3>Need to go slower or faster?</h3>
        <p>No problem, one of the issues we aim to solve is the
          concept of people having pre-existing lives. Not everyone
          can just drop everything and knock out a 12 week program
          in 12 weeks. Some of you have lives.</p>

        <h3>Can't afford $3,499 at enrollment?</h3>

        <p>Not a problem, you can instead opt to make 5 payments of
        $899 instead. We want to be as accessibile as possible to
        those with the talent and aptitude to be a programmer. Not
        every one has a rich Uncle.</p>

        <p>Several students have made a large impact on devschool as well
          and we have been blessed with some awesome students! At
          devschool we have a policy to accept a student that wants to
          enroll, even if it means trading some elbow grease!</p>
        <p>Contact <a href="mailto:elbow.grease@onlinedevschool.com">
          elbow.grease@onlinedevschool.com</a> and tell us why we
          should accept you on a partial payment, partial sweat deal!</p>
      </div>
    </div>
  </div>
</div>
