<%- content_for(:title) do %>
  DevSchool Privay Policy
<%- end %>
<div id="privacy_policy" class="first-section section">
  <div class="container">
    <div class="row white">
      <div class="col-md-9 col-md-offset-1 ">
        <h1 id="privacy-policy">Privacy Policy</h1>
        <p>This Privacy Policy was was first published and made effective on January 1st, 2015.
        DevSchool, Inc. (“DevSchool,” “we,” or “us”) provides this Privacy Policy to explain our practices regarding the collection, use, disclosure, and protection of information that apply to our Service, as well as your choices regarding the collection and use of information.
        This Privacy Policy does not apply to information we collect by means (including offline) or from other sources other than through the Service.  Capitalized terms that are not defined in this Privacy Policy have the meaning given them in our
        Terms of Use <a href="http://www.onlinedevschool.com/terms" target="_blank">http://www.onlinedevschool.com/terms</a>.</p>
        <ol>
          <li>How We Collect and Use Information</li>
          <li>Sharing of Your Information</li>
          <li>How We Protect Your Information</li>
          <li>Your Choices About Your Information</li>
          <li>Links to Other Websites and Services</li>
          <li>Changes to Our Privacy Policy</li>
          <li>How to Contact Us</li>
        </ol>
        <h4 id="1-how-we-collect-and-use-information">1. HOW WE COLLECT AND USE INFORMATION</h4>
        <p>Personally Identifiable Information:  We collect information that can be used to identify you as an individual (“Personally Identifiable Information”) only when you provide such information directly to us in connection with the Service.</p>
        <blockquote>
          <p>We ask for Personally Identifiable Information such as your name and e-mail address when you register for a Member account with the Service, or if you correspond with us (in which case we will also retain our responses).  We may also collect demographic information, such as your age, gender, preferences, and interests.  If you purchase products or services or sign up for a paid subscription, then we will also ask for additional information, such as your credit card number and billing address.  We may also retain any messages you send through the Service, and may collect information you provide in User Content you post to the Service.</p>
          <p>We may receive Personally Identifiable Information about you from third parties, including, for example, information about your transactions, purchase history, or relationships with various product and service providers, and your use of certain applications. For example, if you access our website or Service through a third-party connection or log-in, for example, through Facebook Connect, by “following,” “liking,” adding the DevSchool application, linking your account to the DevSchool service, etc., that third party may pass certain information about your use of its service to DevSchool.  This information could include, but is not limited to, the user ID associated with your account, any information you have permitted the third party to share with us, and any information you have made public in connection with that service.  You should always review, and if necessary, adjust your privacy settings on third-party websites and services before linking or connecting them to DevSchool’s website or Service.</p>
          <p>We use Personally Identifiable Information to communicate directly with you.  We may send you emails containing newsletters, promotions and special offers.  If you do not want to receive these marketing communications, you may change your preferences in your user profile settings page.  We also use your Personally Identifiable Information to send you Service-related emails (e.g., account verification, purchase and billing confirmations and reminders, changes/updates to features of the Service, technical and security notices).  You may not opt out of Service-related e-mails.</p>
          <p>If you choose to use our invitation service to invite a third party to the Service, we will ask you for that person’s email address and automatically send an email invitation to the invitee.  DevSchool stores this information to send this email, to register the invitee if your invitation is accepted, and to track the success of our invitation service.  Unless the invitee becomes a registered user of the Service, onlinedevschool.comes not use the invitee’s email address for marketing purposes, and does not share the invitee’s email address with third parties other than DevSchool’s service providers or in the event of a corporate transaction or proceeding as described below in Sharing of Your Information.  The invitee may contact us at any time to request that we remove his or her information from our database at privacy@onlinedevschool.com.</p>
        </blockquote>
        <p><strong>Non-Personally Identifiable Information:</strong>  We also collect and use information about your interactions with the Service in a manner and format that does not identify you as an individual (“Non-Personally Identifiable Information”).  Generally, we do not combine or associate Non-Personally Identifiable Information with your Personally Identifiable Information.  If we do combine Non-Personally Identiersonally Identifiable Information as set forth below the links you click and other actions you take on the Service), and allow us offic, and demographic patterns; (e) diagnose or fix technology problems reported by our Users or engineers that are associated with ble in cached and archived pages of the Service, or ms" target="_blank">http://www.onlinedevschool.com/terms</a>, take precautions against liability, to investigate and defend ourselves against any claims or allegations, to assist government enforcement agencies, or to protect the security or integrity of our site; and/or (c) to exercise or protect the rights, property, or personal safety of DevSchool, our Users or others.</p>
        <h4 id="3-how-we-protect-your-information">3. HOW WE PROTECT YOUR INFORMATION</h4>
        <p><strong>Storage and Processing:</strong>  Personally Identifiable information collected through the Service may be stored and processed in the United States or any other country in which DevSchool or its subsidiaries, affiliates or service providers maintain facilities.</p>
        <p><strong>Safeguarding Measures:</strong>  DevSchool uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of aprevents DevSchool or its business partners from tracking your browser’s activities in relation to the Service, and for use in targeted online advertising.  However, doing so may disable many of the features available through the Service.</p>
        <p><strong>Opting Out of Online Advertising:</strong>  As noted above, we may share Non-Personally-Identifiable Information with our trusted third-party business partners to deliver online advertisements to your browser or mobile device through the Service, and/or to third-party websites and services.  If you would like more details about this practice and your
      </div>
    </div>
  </div>
</div>
