    <div id="navbar-main"> 
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/#home">
              <img src="<%= asset_path('logo.png') %>" class="logo">Online <strong>Dev</strong> School</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul id="top-menu" class="nav navbar-nav navbar-right">
              <li><a href="/">web developer school</a></li>
              <li><a href="/blog">blog</a></li>
              <li><a href="/categories">categories</a></li>
              <li><a href="/series">series</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
