<div class="page-header text-center">
  <h2>Oops!</h2>
</div>
<p>You have already made your inital enrollment payment. You probably shouldn't
have been taken to this page and this page shouldn't be bookmarked.</p>
<p><a href="javascript:window.history.go(-1)">Go back to whence ye came!</a></p>
