<h4>You have chosen to Join Devschool via our layaway program.<br>
  Today you will be paying <%= number_to_currency(@amount) %></h4>
<p class="small">Once you have completed both payments you will get access to the full list of benifets,
   and you will be put ahead of anyone else when a seat opens. Before that you will get
   access to chat via our Slack #dreamers channel. We post some of our group session invites
   there and you are welcome to join those and participate or watch them later on Youtube.</p>
