<h4>You will be enrolled and your seat will be reserved once this payment is made</h4>
<h5>The amount you will be paying today is <%= number_to_currency(@total) %>, which will reflect any discounts we may have applied for you!</h5>
