<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<div id="payments" class="padded section">
  <div class="container">
    <div class="row white">
      <div class="col-md-6 col-md-offset-3 pane">
        <%= render @enrollment.initial_payment_made? ?
        'already' : 'initial_payment' %>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
