  <tr>
    <td><%= refunded_row.name %></td>
    <td><%= refunded_row.refunded_on %></td>
    <td><%= refunded_row.refund_reason %></td>
    <td><%= number_to_currency(refunded_row.refund_amount) %></td>
  </tr>

