/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require rails_bootstrap_forms
 *= require featherlight.min
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  height: 100%;
}

a.navbar-brand {
  text-indent: -1000px;
}

.tagline {
  color: white;
  font-size: 0.9em;
}

img.logo {
  width: 200px;
  float: left;
  margin-top: -10px;
  margin-right: 4px;
}

.navbar-brand{
  position: relative;
  top: 6px;
}

.full-height {
  min-width: 80%;
}

.page-heading {
  margin-top: 60px;
  background-color: #C33630;
  border-bottom: #bbb;
  text-align: center;

  h1 {
    padding: 0.5em 0 0.5em 0;
    margin: 0.5em 0 0.5em 0;
    color: white;
    letter-spacing: -0.03em;
    font-size: 2.8em;
    line-height: 1.4em;
    font-weight: 600;
  }
}

.pill {
  padding: 4px 10px;
  color: black;
  border-radius: 8px;
  background-color: #eee;
}

.pill.active {
  color: white;
  background-color: red;
}

p {
  margin: 0 0 2em;
  font-family: Lato, sans-serif;
  font-size: 1.4em;
}
