body#blog {
  .navbar-nav > li > a.btn-danger {
    background: #1581F7 !important;
    border-color: #235388;
  }

  .clickdesk-ultra .click-desk-closed-container .click-desk-closed-header {
    background: #C33630 !important;
  }

  .article-html {
    pre code {
      margin: 2em 0;
    }

    p { 
      margin: 1em 0;
    }

    img {
      margin: 2em 1em;
    }

    table {
      width: 100%;
    }
  }

  .post-heading {
    background-color: #C33630;
    border-bottom: #bbb;
    text-align: center;

    h1 {
      padding: 1em 0 0.5em 0;
      margin: 1em 0 0.5em 0;
      color: white;
      letter-spacing: -0.03em;
      font-size: 2.8em;
      line-height: 1.4em;
      font-weight: 600;
    }
  }

  h2 {
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 600;
    margin: 1em 0 1.5em 0;
    border-bottom: 1px solid #999;
  }

  p {
    font-size: 1.3em;
    line-height: 1.6em;
  }

  .post-meta {
    margin: -20px 0 0 0;

    .author-avatar {
      margin-top: -60px;
    }

    .author-name {
      margin: 0 0 0 16px;
      font-size: 1.4em;
      line-height: 1em;

      a {
        color: #1581F7;
      }
    }

    .post-date {
      margin: 0 0 0 12px;
      font-size: 1em;
      font-weight: 400;
      color: #666;
    }

    .list-share {
      .heading {
        font-weight: 500;
        font-size: 1.2em;
      }

      .google-plus-svg {
        background-image: image-url('share-icons/google-plus.svg');
      }

      .twitter-svg {
        background-image: image-url('share-icons/twitter.svg');
      }

      .facebook-svg {
        background-image: image-url('share-icons/facebook.svg');
      }

      .icon-svg {
        background-color: #1581F7;
        background-origin: padding-box;
        background-size: auto;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        box-sizing: border-box;
        cursor: auto;
        display: inline-block;
        font-size: 18px;
        height: 36px;
        line-height: 28px;
        list-style-image: image-url("share-icons/disc.png");
        list-style-type: disc;
        margin-top: 0px;
        text-align: left;
        text-decoration: none;
        vertical-align: middle;
        width: 36px;
      }
    }
  }
}
