#curriculum {
  color: #000;

  h2, h3 {
    font-family: 'Lato';
    margin: 1em 0 0.5em 0;
  }

  h3 {
    font-size: 2em;
    font-weight: 500;
    color: #000;
  }

  a {
    color: #cf1818;
    text-decoration: underline;
  }
}

