hr {
  display: block;
  height: 3px;
  border: 0;
  margin: 3em 0;
  padding: 0;
  background-image: -webkit-linear-gradient(left, #e6e6e6, #333, #e6e6e6);
  background-image: -moz-linear-gradient(left, #e6e6e6, #333, #e6e6e6);
  background-image: -ms-linear-gradient(left, #e6e6e6, #333, #e6e6e6);
  background-image: -o-linear-gradient(left, #e6e6e6, #333, #e6e6e6);
  width: 100%;
  position: relative;
  border: none;
}

.home-slide {
  padding-top: 5em;
  text-align: center;
  background-attachment: relative;
  min-height: 92%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 100px;
  margin-top: 2em;
  color: #090909;
}

.home-slide {
  h1 {
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 10px;
    color: #000;
    margin: 0;
  }

  h2 {
    font-size: 2.1em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin: 0.4em 0 1em 0;
  }

  h4 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }

  p {
    margin-top: 0.8em;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }

  .article_source {
    font-weight: 600;
    font-size: 0.8em;
  }
  .btn {
    font-weight: 500;
    font-size: 17px;
    margin: 20px 0;
    background-color: rgba(255,255,255,0);
    color: #fff;
    border: 1px solid #fff;
  }
  .btn:hover, .btn:focus {
    color: #555;
    background-color: #fff;
    outline: 0px;
    border: 1px solid #fff;
  }
  a {
    font-weight: 400;
    text-decoration: underline;
  }
}


#reviews p, #curriculum p, #pacing p {
  font-size: 1.4em;
  font-weight: 300;
  margin: 1em 0;
}

#howitworks {
  h2 {
    margin: 2em 0 1em 0;
  }

  li {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.6em;
  }
}

.pace-options-table {
  border: none;
  width: 80%;
  font-size: 1.4em;
  border-collapse: separate;
  border-spacing: 0.5em;
}

.pace-options-table th {
  border-bottom: 1px solid #2b2b2b;
}

.pace-options-table .pace-option-weeks {
  font-weight: 500;
}

.pace-options-table .pace-option-weeks,
.pace-options-table .pace-option-pace,
.pace-options-table .pace-option-hours {
  color: #4d4d4d;
  white-space: nowrap;
}


#reviews {
  color: #2b2b2b;
}

.home-slide .well {
  background-color:rgba(255,255,255,0.8);
}

.well {
  background: #fff;
  border-radius: 1em;
  margin: 1em 10%;
  padding: 2em 4em;
}

.review-callout {
  position: relative;
  float: left;
  width: 30%;
  margin: 0.5em;
  margin-bottom: 2em;
  text-align: center;
  font: 1.2em 'Lato' normal;
}

.review-callout-name {
  margin-top: 2.5em;
  font: 1.2em 'Lato' normal;
  color: #fff;
}

.review-name-lg {
  font-family: 'Lato', serif;
  font-size: 2.5em;
  margin-bottom: 0.8em;
  margin-top: 1em;
}

.review-text {
  font: 100 1em 'Open Sans', sans-serif;
  margin: 1.2em 0;
}

.review-image-lg {
  margin: -1em 1em -1em 1em;
}

#reviews {
  background: #fff;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.3);
}

.arrow_box {
  color: #2b2b2b;
  position: relative;
  background: #ffffff;
  border: 4px solid #666;
  padding: 1.8em;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(43, 199, 255, 0);
  border-top-color: #666;
  border-width: 34px;
  margin-left: -34px;
}

.review-image-lg {
  margin: 1em;
}

.row {
  padding: 2em 0;
}


.technologies img {
  width: 150px; 
}

@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
  body .header {
    background-attachment: scroll;
  }
}

/*ipad portrait*/
@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .header {
    background-attachment: scroll;
  }
}

@media screen and (max-width:769px) {
  .navbar-brand img.logo {
    width: 120px;
    margin-top: 1px;
    float: left;
  }

  .person-1, .person-2, .person-3, 
    .person-4, .person-5, .person-6 {
    background-position: 70% top !important;
  }

  .pace-options-table {
    font-size: 0.7em;
    width: 100%;
    margin: 0;
  }

  .pace-options-table tr {
    height: 1.4em;
  }

  #reviews {
    img.review-image-lg {
      width: 120px;
    }

    .review-name-lg {
      margin-top: 4px;
      font-size: 1.2em;
      line-height: 1.4em;
    }

    .review-callout {
      width: 38%;
      padding: 2px;

      .arrow_box {
        padding: 2px !important;

        p {
          font-size: 0.7em;
          line-height: 1em;
        }
      }
    }
  }
  #reviews, #curriculum, #pacing, #howitworks, .feather {
    img.courseware-img {
      width: 100px !important;
      float: left;
      margin-left: 1em;
    }

    p {
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-size: 1em;
      line-height: 1.2em;
    }

    h1 {
      font-size: 1.4em;
      margin-left: 0.4em !important;
    }

    h2 {
      margin-left: 0.4em !important;
      font-size: 1.2em;
      line-height: 1.2em;
    }

    h3 {
      font-size: 1em;
      line-height: 1.2em;
      margin-left: 0.4em !important;
    }

    h4 {
      font-size: 0.8em;
      line-height: 1em;
      margin-left: 0.4em !important;
    }
  }

  #howitworks ul.checks li {
    font-size: 0.9em;
    line-height: 1.2em;
    margin-bottom: 0.7em;
    background-size: 18px;
  }

  .home-slide {
    h1 {
      font-size: 1.4em;
    }

    h2 {
      font-size: 1.2em;
      line-height: 1.2em;
    }

    h3 {
      font-size: 1em;
      line-height: 1.2em;
    }

    h4 {
      font-size: 0.8em;
      line-height: 1em;
    }

    p {
      font-size: 0.8em;
      line-height: 0.9em;
     }
  }

  .well {
    padding: 1em;
  }
}

.feather {
  display: none;
}

.feather p {
  font: 1.4em 'droid sans' normal;
}

.white {
  background-color: #fff !important;
}

ul.checks {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.checks li {
  background-image: image-url('checkbox.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 0px center; 
  padding-left: 40px;
}

.dark {
  background-color: #2b2b2b;
}

.person-1 {
  background: image-url('header_bgs/1.jpg') no-repeat center top; 
}
.person-2 {
  background: image-url('header_bgs/2.jpg') no-repeat center top; 
}
.person-3 {
  background: image-url('header_bgs/3.jpg') no-repeat center top; 
}
.person-4 {
  background: image-url('header_bgs/4.jpg') no-repeat center top; 
}
.person-5 {
  background: image-url('header_bgs/5.jpg') no-repeat center top; 
}
.person-6 {
  background: image-url('header_bgs/6.jpg') no-repeat center top; 
}

img.courseware-img {
  max-width: 200px;
}
