.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #D9534F;
  background: #2b2b2b;
}

.navbar-nav > li > a.btn-danger {
    color: #fff !important;
    background: #D9534F !important;
  }
.navbar-nav > li > a.btn-danger:hover,
.navbar-nav > li > a.btn-danger:active {
    color: #fff !important;
    background: #D9534F !important;
  }

.navbar-default {
  z-index: 1000;
  background-color: #2b2b2b;
  padding: 12px 0;
  box-shadow: 0 0 3px #ccc;
  font-weight: 500;
}
.navbar-default .navbar-brand {
  margin-top: -8px;
  font-size: 1.4em;
  color: #fff;
}
.navbar-brand .fa {
  color: #38b5c9;
}
.navbar-toggle {
  border-color: transparent;
  border: 0px solid transparent;
}
