.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #cf1818;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cf1818;
  background-color: #2b2b2b;
}
.navbar-default {
  z-index: 1000;
  background-color: #2b2b2b;
  padding: 12px 0;
  box-shadow: 0 0 3px #ccc;
  font-weight: 500;
}
.navbar-default .navbar-brand {
  margin-top: -8px;
  font-size: 1.4em;
  color: #fff;
}
.navbar-brand .fa {
  color: #38b5c9;
}
.navbar-toggle {
  border-color: transparent;
  border: 0px solid transparent;
}
