@import url(//fonts.googleapis.com/css?family=Lato);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 2em;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
