<ul class="list-inline list-unstyled center-block">
<li><a class="pill <%= "active" if params[:q].nil? || params[:q] == "pending" %>" href="?q=pending">Pending</a></li>
  <li><a class="pill <%= "active" if params[:q] == "interviewing" %>" href="?q=interviewing">Interviewing</a></li>
  <li><a class="pill <%= "active" if params[:q] == "rejected" %>" href="?q=rejected">Rejected</a></li>
</ul>

