<h1>Pending applications</h1>
<%= render 'menu' %>
<table class="table table-striped table-responsive">
  <tr>
    <th>ID</th>
    <th>Applied on</th>
    <th>Promo</th>
    <th>Name</th>
    <th>Email</th>
    <th>Github</th>
    <th>Why?</th>
    <th></th>
    <th></th>
  </tr>
  <%= render partial: 'pending_row', collection: pending %>
</table>
