<div class="col-md-6">
  <div class="category-name"><%= category.name %></div>
  <div class="category-posts">
    <ul>
      <%= render partial: 'category_post', 
                collection: category.posts.ordered %>
    </ul>
  </div>
</div>
