<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <ul class="text-right list-unstyled">
              <li><a href="https://onlinedevschool.com/posts/onlinedevschool-frequently-asked-questions">FAQ</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms">Terms & Refunds</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled text-right">
              <li><a href="/our-story">Our story</a></li>
              <li><a href="https://onlinedevschool.com/posts/how-does-online-dev-school-match-up-to-the-competition">Comparing Dev Bootcamps</a></li>
              <li><a href="/affiliates">Affiliates</a></li>
              <li><a href="mailto:hello+footer@onlinedevschool.com">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">Copyright &copy; 2015 OnlineDevSchool</div>
        <div class="copyright">The Codeschool trademark and course logos are property of Codeschool inc.</div>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/onlinedevschool"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="https://www.facebook.com/pages/Online-Dev-School/1089256231104556"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="https://plus.google.com/113142643371933955361"><i class="fa fa-google-plus"></i></a> </li>
        </ul>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

