<h1>active applications</h1>
<%= render 'menu' %>
<table class="table table-responsive">
  <tr>
    <th>Student name</th>
    <th>Applied on</th>
    <th>Github</th>
    <th>Why?</th>
  </tr>
  <%= render partial: 'active_row', collection: active %>
</table>
