<h1>Pending applications</h1>
<table>
  <tr>
    <th>Applied on</th>
    <th>Student name</th>
    <th>Github</th>
    <th>Why?</th>
  </tr>
  <%= render partial: 'enrollment_row', collection: @enrollments %>
</table>
