<div class="col-md-6">
  <div class="series-name"><%= series.name %></div>
  <div class="series-posts">
    <ul>
      <%= render partial: 'series_post', 
                collection: series.posts.ordered %>
    </ul>
  </div>
</div>
